<!DOCTYPE html>
<html>
<head>
  <title>Toyshop</title>

  <!--  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>


<footer>
  <div class="container">
    Rails Girls 2012
  </div>
</footer>


<body>

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
      <a class="brand" href="/">The Idea app</a>
    <ul class="nav">
        <li class="active"><a href="/ideas">Ideas</a></li>
      </ul>
    </div>
  </div>
</div>-->
<body>
|<%= link_to "Home", :controller => "welcome", :action => "home" %> |
<%= link_to "Product Catalogue", products_path %> |
<%= link_to "Leave Site", :controller => "welcome", :action => "thank_you" %> |
<%= link_to "Register", :controller => "welcome", :action => "register" %> |

<div id='header'>
  <% if logged_in? %>
      <%= current_user.email %> |
      <%= link_to 'Logout', logout_path %> |
      <%= link_to "Create User", new_user_path %> |
  <% else %>
      <%= link_to "Login", login_path %> |
  <% end %>
</div>

<%= yield %>

</body>
</html>
